// Scrollbar styles for webkit
::-webkit-scrollbar
  -webkit-appearance none
  width .75em

::-webkit-scrollbar-track //color of scrollbar background
	background $c-main
	
::-webkit-scrollbar-thumb //color of scrollbar position
	background $c-white
	border 2px solid $c-main


// Highlight color when selecting text
::selection 
	color $c-white
	background $c-highlight

body
	@extend $f-sans
	margin 0 auto
	padding 0
	font-size 90%
	color $c-main
	background $c-white
	
	@media $r-tablet
		font-size 100%
	
	@media $r-desktop
		font-size 110%
		
// global typography
strong, b
	font-weight $f-bold
	
a
	position relative
	margin -.5em .1em
	padding .5em 0
	color $c-highlight
	text-decoration none
	transition $t-all
	cursor pointer !important //overrides p
	
	background-image linear-gradient(0deg, alpha($c-highlight,.9), alpha($c-highlight,.9))
	background-repeat no-repeat
	background-size 100% 1px
	background-position 0 85%
	
	&:hover, &:focus
		background-size 100% 100%
		background-color transparent
		margin -.5em -.9em //padding minus original margin
		padding .5em 1em
		
	
p
	margin 0 auto 1em
	
	button
		@extend a
		border none
		text-transform none
		opacity .5
		
		&:focus
			opacity 1
		
	&:hover button
		opacity 1
				
h2
	@extend p
	font inherit
		
h3
	@extend $f-serif
	margin 0 auto
	text-transform uppercase
	
ul, ol
	margin 0 auto 1em
	padding 0 1em
	
	li
		margin 0 auto
		padding .25em 0
	
blockquote
	max-width 25em
	margin 2em auto
	padding 0 1em
	font-size $f-l
	text-align center
	color $c-main
	
// UI
hr
	margin 0 auto 1em
	height 1px
	border 0
	background $c-main
		
button
	margin 0 auto 1em
	padding .5em 2em
	font-weight $f-regular
	color inherit
	border 1px solid
	border-radius 0
	background none
	text-transform uppercase
	transition $t-all
	
	&:hover, &:focus
		color $c-white
		background-color $c-highlight
		border-color inherit
		cursor pointer
		
	&.disabled
		opacity .5
		
		&:hover, &:focus
			color $c-negative
			border-color inherit
			background none
			
input, textarea
	margin 0 auto .5em
	color inherit
	transition $t-all
	
	&:hover:not([disabled]), 
	&:focus:not([disabled])
		border-color $c-highlight
	
input
	padding .25em
	border none
	border-bottom 1px solid
	border-radius 0

// Remove Arrows
input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


// figure
// 	margin 0
	
// label
// 	display block
// 	margin 0 0 .25em
// 	font-weight $f-light
// 	text-align left //keeps left aligned when parent content is centered

// .disabled
//   visibility hidden
//   overflow hidden
//   opacity 0
//   height 0
//   margin 0 !important
//   padding 0 !important
	
// textarea
// 	padding .75em
// 	min-height 5.25em //the height of three lines
// 	border 1px solid $c-grey
// 	border-radius $r-equal
	
// select
// 	width 100%
// 	margin .5em auto
// 	padding .5em .75em
// 	color $c-main
// 	background none
// 	border 1px solid $c-grey
// 	border-radius $r-equal
// 	transition $t-all