@import 'normalize'
@import 'variables'
@import 'global'


main
  &.intro
    #intro
      opacity 1
      visibility visible
    
    h2
      @extend $IntroSlideUp
      
    hr
      @extend $IntroWideHR
    
    .tagline
      @extend $IntroSlideDown

  &.login
    #intro
      visibility hidden
      .top
        transform translateY(-100%)
      
      .bottom
        transform translateY(100%)
      
      h2
        opacity 0
      
      .tagline
        opacity 0
        
    .logo
      color $c-white
        
    #login
      visibility visible
    
h1
  @extend $f-serif
  display inline-block
  margin 0
  font-size 1.5em
  text-transform uppercase
  
.logo
  position fixed
  top 1em
  left 1em
  padding .5% .75%
  z-index $z-logo
  transition $t-all
  
  &:hover
    color $c-highlight
  
  .i-logo
    display inline-block
    position relative
    top 2px
    margin-right .125em
    font-size 1.5em

section
  @extend $fill
  transition $t-all-slow
  
#intro
  z-index $z-intro
  text-align center
  overflow hidden
  opacity 0
  visibility hidden
  
  .top, .bottom
    position relative
    height 50%
    transition $t-all-slow
    background $c-white
    overflow hidden
    
    @media $r-desktop
      font-size 125%
    
  h2
    @extend $f-serif
    position absolute
    margin 0
    bottom -.125em
    font-size 3em
    width 100%
    transition $t-all-slow
    
  hr
    width 10em
    margin 0 auto .325em
    
  .tagline
    transition $t-all-slow
    
  .disclaimer
    @extend $detail
    position absolute
    bottom 2em
    width 100%
    margin 0
    font-size $f-s
    
#login
  z-index $z-home
  color $c-white
  background $c-main
  visibility hidden
