@import 'normalize'
@import 'variables'
@import 'global'


main
  &.intro
    #loading
      visibility hidden
      
      .i-logo
        font-size 0

    #intro
      visibility visible
      display block !important //keeps it from showing up (flickering) onpageload
    
    h2
      @extend $IntroSlideUp
      
    hr
      @extend $IntroWideHR
    
    .intro-desc
      @extend $IntroSlideDown
      
    #login
      display block !important //keeps it from showing up (flickering) onpageload

  &.login
    #intro
      visibility hidden
      .top
        transform translateY(-100%)
      
      .bottom
        transform translateY(100%)
      
      h2
        opacity 0
      
      .intro-desc
        opacity 0
        
    .logo
      color $c-white
        
    #login
      visibility visible
      
    #welcome-alert
      display block !important
      
  &.welcome
    #login
      opacity 0
      visibility hidden
      transition-delay 1.5s
      
      form input, form input:hover, form input:focus, form input:active
        color $c-positive !important
        border-bottom-color $c-positive !important
        
      .instruction
        opacity 0
        
      .get-code
        opacity 0
      
    #welcome-alert
      opacity 1
      visibility visible
      transition-delay 3.5s
    
h1
  @extend $f-serif
  display inline-block
  margin 0
  font-size 1.5em
  text-transform uppercase
  vertical-align middle
  
.logo
  position fixed
  top .5em
  left .5em
  margin 1% 1.25%
  z-index $z-logo
  transition $t-all
  
  &:hover
    color $c-highlight
  
  .i-logo
    display inline-block
    position relative
    margin-right .25em
    font-size 1.5em
    vertical-align middle

section
  @extend $fill
  transition $t-all-slow

#loading
  text-align center
  font-size 2em
  z-index $z-loading
  
  .i-logo
    @extend $middle
    transition $t-all-slow

#intro
  z-index $z-intro
  text-align center
  overflow hidden
  visibility hidden
  
  .top, .bottom
    position relative
    height 50%
    transition $t-all-slow
    background $c-white
    overflow hidden
    
    @media $r-desktop
      font-size 125%
    
  h2
    @extend $f-serif
    position absolute
    margin 0
    bottom -.125em
    font-size 3em
    width 100%
    transition $t-all-slow
    
  hr
    width 10em
    margin 0 auto .325em
    
  .intro-desc
    transition $t-all-slow
    
  .disclaimer
    @extend $detail
    position absolute
    bottom 2em
    width 100%
    margin 0
    font-size $f-s
    
#login
  z-index $z-home
  color $c-white
  background-color $c-main
  background url(../img/login_bg.jpg) no-repeat center / cover
  visibility hidden
  
  .access-code
    @extend $middle
    text-align center
      
    &.js-incorrect
      form
        color $c-negative
      
      .instruction
        opacity .5

      .get-code
        opacity 1
    
    .instruction
      margin-bottom 2.75em
    
    form
      margin-bottom .75em
      transition opacity $t-all-slow
      transition-delay .5s
    
    input
      text-align center
      width 0
      padding-left 0
      padding-right 0
      
      &:first-of-type
        width 12em
        padding .25em
        transition $t-all, mwidth $t-all-slow
        
        &:hover:not(.js-enter)
          width 13em
          transition $t-all
          
        &:focus:not(.js-enter)
          width 12em
      
      &.js-enter
        width 6%
        max-width 2em
        padding .25em
        margin-right .25em
        
        &:hover
          border-bottom-color $c-white
          
        &:nth-of-type(3), &:nth-of-type(6)
          margin-right 1em
      
      &.js-invalid-input
        border-bottom-color $c-negative !important
        
    .instruction, .get-code
      transition $t-all-slow
        
    .get-code
      font-size $f-s
      opacity .5
      
      &:hover
        opacity 1

  .tagline
    position absolute
    bottom .5em
    left .5em
    margin 0 2% 1.5% 1.5%
    max-width 40em
    
#welcome-alert
  opacity 0
  visibility hidden
  text-align center
  
  h3
    @extend $middle
    color $c-main
    
