// responsive breakpoints
$r-desktop = "only screen and (min-width: " + em(750) + ")"

// grid
$grid
  position relative
  display inline-block
  width 100% //default width for mobile
  vertical-align top
  
  @media $r-desktop
    margin-right -.25em
  
// z-indexes
$z-section = 100

// color palette
$c-white = #F6F7FB
$c-main = #002F5B

$c-highlight = #F5BD36

$c-positive = #88C425
$c-negative = #E51F1E

// typography
$f-sans
	font-family Open Sans, Helvetica, sans
	line-height 1.75
	font-weight 400

$f-serif
	font-family Merriweather, Georgia, serif
	line-height 1.5
	font-weight 400
	
$f-s = em(12)
$f-r = em(16)
$f-l = em(20)
$f-xl = em(24)

$f-light = 300
$f-bold = 600

// transitions
$t-all = all .25s ease-in-out
$t-all-slow = all 1s ease-in-out

$fill
  position absolute
  top 0
  left 0
  right 0
  bottom 0 
  min-height 100%
  min-width 100% 
  
.disabled
  visibility hidden
  overflow hidden
  opacity 0
  height 0
  margin 0 !important
  padding 0 !important

$middle
	top 50%
	transform translateY(-50%)

//custom icons
@font-face
	font-family 'CustomFont'
	src url('../fonts/CustomFont.woff') format('woff'), url('../fonts/CustomFont.ttf') format('ttf')

[class^="i-"]:before, [class*=" i-"]:before
	font-family 'CustomFont'
	display inline-block
	position relative
	font-size 80%
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none

.i-logo:before {
  content: "\e903";
}
.i-mail-checked:before {
  content: "\e932";
}
.i-mail:before {
  content: "\e933";
}
.i-linkedin:before {
  content: "\e900";
}
.i-fb:before {
  content: "\e901";
}
.i-twitter:before {
  content: "\e902";
}
.i-name:before {
  content: "\e931";
}