// convert pixels to em's automagically - based on the assumption that 1em = 16px
em(a)
  a / 16 + 0em
    

// responsive breakpoints
$r-desktop = "only screen and (min-width: " + em(750) + ")"


// grid
// $grid
//   position relative
//   display inline-block
//   width 100% //default width for mobile
//   vertical-align top
  
//   @media $r-desktop
//     margin-right -.25em
  

// z-indexes
$z-loading = 100
$z-intro = 90
$z-logo = 80
$z-home = 70


// color palette
$c-white = #F6F7FB
$c-main = #002F5B

$c-highlight = #F5BD36

$c-positive = #88C425
$c-negative = #E51F1E


// typography
$f-s = em(12)
$f-r = em(16)
$f-l = em(20)

$f-light = 300
$f-regular = 400
$f-bold = 600

$f-sans
  font-family Open Sans, Helvetica, sans
  line-height 1.5
  font-weight $f-light

$f-serif
  font-family Cardo, Georgia, serif
  font-weight $f-regular


// transitions
$t-all = all .25s ease-in-out
$t-all-slow = all 1s ease-in-out


// animations
@keyframes IntroSlideUp
  0%
    transform translateY(100%)
  100%
    transform translateY(0)
    
$IntroSlideUp
  animation IntroSlideUp 3s ease-out .75s both
  
@keyframes IntroSlideDown
  0%
    transform translateY(-150%)
  100%
    transform translateY(0)
  
$IntroSlideDown
  animation IntroSlideDown 3s ease-out .75s both
  
@keyframes IntroWideHR
  0%
    width 0
  25%
    width 10em
  75%
    width 50%
  100%
    width 100%
    
$IntroWideHR
  animation IntroWideHR 4s ease-in .75s both


// styles
$detail
  opacity .5
  transition $t-all
  
  &:hover, &:focus
    opacity 1


// ui
$fill
  position absolute
  top 0
  left 0
  right 0
  bottom 0 
  min-height 100%
  min-width 100%
  
$middle
  position relative
  top 50%
  transform translateY(-50%)
  

// icons
@font-face {
  font-family: 'CustomFont';
  src:  url('fonts/CustomFont.eot?qfv1y6');
  src:  url('fonts/CustomFont.eot?qfv1y6#iefix') format('embedded-opentype'),
    url('fonts/CustomFont.ttf?qfv1y6') format('truetype'),
    url('fonts/CustomFont.woff?qfv1y6') format('woff'),
    url('fonts/CustomFont.svg?qfv1y6#CustomFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CustomFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-logo:before {
  content: "\e900";
}
